// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1C4EA3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$upvoter: #15CEA2;
$downvoter: #992F88;

$glass: var(--glass, linear-gradient(104deg, rgba(217, 217, 217, 0.42) 0%, rgba(121, 203, 183, 0.22) 47.92%, rgba(14, 255, 197, 0.18) 100%));
