// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700%7CWork+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&family=Open+Sans&family=Roboto+Condensed:wght@100&family=Roboto+Slab&family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,600;1,200&display=swap');

$body-font: "Karla", "Helvetica", "sans-serif";
$headers-font: "DM Mono", "Helvetica", "sans-serif";
$upvote-font: "DM Mono", "Helvetica", "sans-serif";
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
