<div class="navbar navbar-expand-sm navbar-light ">
  <div class="container-fluid">
    <%= image_tag "toolbox.png", class: "logo", href: "/"%>

    <% if user_signed_in? %>
        <div class="navbar-nav flex-column flex-sm-row">
          <%= link_to "Home", "#", class: "nav-link" %>
          <%= link_to "Messages", "#", class: "nav-link" %>
        </div>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
      </ul>
  </div>
</div>

<div class="nav navbar-expand-sm navbar-light text-center ">
  <div class="container-fluid">
    <div class="search-bar">
      <input type="text" class="" placeholder="Search">
      <button type="button" class="btn btn-outline-primary">Search</button>
    </div>
  </div>
</div>
