.app-card {
  background: var(--glass, linear-gradient(104deg, rgba(217, 217, 217, 0.42) 0%, rgba(121, 203, 183, 0.22) 47.92%, rgba(14, 255, 197, 0.18) 100%));
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.app-title{
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: $headers-font;
}

.app-content{
  display: grid;
}

.app-card p {
  margin: 0;
}

.card-container-top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.app-name {
  margin-top: 0.5rem;
}

.category-name{
  margin-left: 10px;
  color: white;
  font-size: small;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.08);
}

.app-name p {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem; /* Adjust the font size as needed */
}

/* Custom CSS for the total votes */
.total-votes {
  margin-top: 1rem;
  font-size: 0.875rem; /* Adjust the font size as needed */
}

.container-bottom{
  display: flex;
}

.middle-container-content{
  flex-grow: 1;
}
