.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.category-form {
  background-color: transparent;
  border: none;
  color: white;
}

.slider {
  position: absolute;
  border-radius: 6px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: darkgrey;
  -webkit-transition: .4s;
  transition: .4s;
  display: flex;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

.slider:before {
  border-radius: 6px;
  position: absolute;
  content: "";
  height: 30px;
  width: 34px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: $glass;
}

input:checked + .slider:before {
  background-color: $upvoter;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
