.filter_button {
  background-color: #3282B8;
  border-radius: 6px;
  color: white;
  padding: 5px;
  box-shadow: 3px 3px 3px #BBE1FA;
  text-decoration: none;

}

.filter_button_on {
  background-color: $light-gray;
  border-radius: 6px;
  color: #3282B8;
  padding: 5px;
  box-shadow: 1px 1px 1px #BBE1FA;
  text-decoration: none;

}
