.navbar {
  padding: 10px 0;
  background: linear-gradient(to top, #09203f 0%, #537895 100%);
  // background: var(--glass, linear-gradient(104deg, rgba(217, 217, 217, 0.42) 0%, rgba(121, 203, 183, 0.22) 47.92%, rgba(14, 255, 197, 0.18) 100%));
  width: 100%;
}

.ToolBox {
  margin-top: 18px;
  color: white ;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  padding-left: 2px;
  font-family: $headers-font;
}

.nav-link{
  color: black;
}

.nav{
  border-bottom: 1px solid black;
  align-items: center;
}

.logo{
  height: 60px;
  width: 60px;
  }

.feed-btn,
.profile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  text-shadow: 2px 2px 4px #000000;
}

.feed-btn,
.profile {
  height: 40px;
  width: 40px;
}

.dropdown-menu-dark {
  background-color: #343a40;
  color: white;
}


.dropdown-divider {
  border-color: white;
}
