.navbar {
  background: #84fab0;
  background: -webkit-linear-gradient(to left, rgba(185,184,255,1), rgba(0,255,225,1));
  background: linear-gradient(104deg, #00B88C 0%, #5684CA 47.92%, #D0D0D0 100%);
  width: 100%;
  padding: 10px 0
}

.ToolBox {
  margin-block-start: auto;
  color: white ;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
  padding: 5px;
  font-family: $headers-font;
  font-size: 30px;
  font-weight:900;
  letter-spacing: 1px;
}

.nav-link{
  color: black;
  text-shadow: 2px 2px 4px #000000;
  font-size: larger;
  font-weight: bolder;
}

.nav{
  border-bottom: 1px solid black;
  align-items: center;
}

.logo{
  margin-left: 7px;
  height: 25px;
  width: 35px;
}

.feed-btn,
.profile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0 5px;
  text-shadow: 2px 2px 4px #000000;
}

.feed-btn,
.profile {
  height: 40px;
  width: 40px;
}

.dropdown-menu-dark {
  background-color: #343a40;
  color: white;
}


.dropdown-divider {
  border-color: white;
}
