.vote {
  display: flex;
  height: 32px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  background: transparent;

  cursor: pointer;
  &.upvoted {
    border-color: $green;
  }
  &.downvoted {
    border-color: $red;
  }

  &.upvote {
    color: $upvoter;
    border: 1px solid $upvoter;
  }

  &.downvote {
    color: $downvoter;
    border: 1px solid $downvoter;
  }
}

.vote-buttons {
  display: flex;
  width: 48px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.total_votes {
  background: rgba(255, 255, 255, 0.08);
  font-family: $upvote-font;
  padding: 4px 9px;
  border-radius: 8px;
  color: #43FCBA;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.36px;
}
