// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// custom css
// show page
.app-name{
  color: white;
  margin-top: 10px;

}

.backBtn{
  color: white;
  text-decoration: none;
  font-size: medium;
  margin: 10px;
}

// profile page
.btn-middle-blue {
  background-color: #0F4C75 !important;
  border-color: #0F4C75 !important ;
}

.btn-light-blue {
  background-color: #3282B8 !important;
  border-color: #3282B8 !important ;
}

.modal-content {
  background-color: #1B262C ;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.border-top {
  border-top: 1px;
  border-color: #0F4C75;
}
