// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// custom css
// show page

body {
  min-height: 100vh;
}

p {
  margin: 0 !important;
}

.app-name{
  color: white;
  margin-top: 10px;
}

.backBtn{
  color: white;
  text-decoration: none;
  font-size: medium;
  margin: 10px;
}

// profile page

.button-border {
  border: color 2px $green;
}

.border-radius {
  border-radius: 0.6em;
}

.image-form {
  border-radius: 0.6em;
}

.btn-middle-blue {
  background-color: #0db096 !important;
  border-color: #0db096 !important ;
}

.btn-light-blue {
  background-color: #5585c9 !important;
  border-color: #5585c9 !important ;
}

.modal-content {
  background-color: #1B262C ;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.border-top {
  border-top: 1px;
  border-color: #0db096;
}
